  <footer class="page-footer teal lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Welcome to Giphtur!</h5>
                <p class="grey-text text-lighten-4">Let us pick your gifts for you!</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright teal">
          </div>
        </footer>