<footer class="page-footer blue darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Look for weather in your area!</h5>
          <p class="grey-text text-lighten-4">Always know what the weather is like before going outside!</p>
        </div>
        <div class="col l3 s12">
        </div>
        <div class="col l3 s12">
        </div>
      </div>
    </div>
    <div class="page-footer blue darken-4">
      <div class="container">
       <a class="white-text"></a>
      </div>
    </div>
  </footer>