<footer class="page-footer  purple darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-lighten-4">Let giphtur choose a gift for you!</h5>
        </div>
        <div class="col l3 s12">
        </div>
      </div>
    </div>
    <div class="page-footer  purple darken-4">
      <div class="container">
       <a class="white-text"></a>
      </div>
    </div>
  </footer>