 <header>
<nav class="purple darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Giphtur</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/signup">Signup</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Signup</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </header>

  <script>

(function($){
  $(function(){

    $('.button-collapse').sideNav();

  }); // end of document ready
})(jQuery); // end of jQuery name space

   </script>


      