 <div id="gift_page" class="container">
        <div>
        <button id="roll" type="button" class="waves-effect waves-light btn-large">Roll The Dice</button>
        </div>
        <div class="progress">
      <div class="indeterminate"></div>
        </div>
      <div class="col s4">
        <div class="section">
            <h3>Gift 1</h3>
              <div class="card small">
    <!-- Card Content -->
    <img id="box-1" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-1"></p>
        <p id="sale-1"></p>
  </div>
      </div>
      <div class="col s4">
        <div class="section">
            <h3>Gift 2</h3>
              <div class="card small">
    <!-- Card Content -->
     <img id="box-2" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-2"></p>
        <p id="sale-2"></p>
  </div>
            </div>
      </div>
      <div class="col s4">
       <div class="section">
            <h3>Gift 3</h3>
              <div class="card small">
    <!-- Card Content -->
     <img id="box-3" src="https://i5.walmartimages.com/dfw/dce07b8c-52bd/k2-_ae3be777-76da-4d15-bc69-5d449589a4ef.v6.jpg" alt="" />
        <p id="name-3"></p>
        <p id="sale-3"></p>
             </div>
            </div>
      </div>
    </div>
        <div>
         <button id="save" type="button" class="waves-effect waves-light btn-large">Save Items</button>
        </div>
        </div>
    

<script type="text/javascript">

  var giftID = []


  giftID[0] = sessionStorage.getItem('gift1');
  giftID[1] = sessionStorage.getItem('gift2');
  giftID[2] = sessionStorage.getItem('gift3');

  $( ".progress" ).hide(); //hide load bar
  $( "#save" ).hide(); //hide checkout button



  var $roll = $('#roll')
    $roll.on('click',function() {

      $( ".progress" ).show(); //show
      $( "#save" ).show(); 

      $.ajax({
        url: "/api",
        method: 'GET'
      }).done(function(data) {
          $( ".progress" ).hide(); //hide
          $( "#save" ).show(); 
          var totalPrice = 0
          for (var i = 1; i < 4; i++) {
            $('#box-'+i).attr('src', data[i-1].mediumImage);
            $('#name-'+i).text(data[i-1].name);
            $('#msrp-'+i).text(data[i-1].msrp);
            $('#sale-'+i).text(data[i-1].salePrice);
            totalPrice += data[i-1].msrp
            console.log(data[i-1]);
            giftID[i-1] = data[i-1].itemId
          }
      });
    })



  var $save = $('#save')
    $save.on('click',function() {
      console.log("Items are saved");
      var gift = {
        gift1: giftID[0],
        gift2: giftID[1],
        gift3: giftID[2],
      }
      if (user) {
        $.ajax({
          url: "/savedgifts/" + user._id,
          method: 'POST',
          data: JSON.stringify(user.gifts),
          contentType: 'application/json'
        }).done(function(data) {
          Materialize.toast('Gifts saved',3000)
        window.location ='/savedgifts'
        console.log(gift)
        });
      }else {
          window.location = '/savedgifts?gift1=' + giftID[0] +'&'+ '/savedgifts?gift2=' + giftID[1] +'&'+ '/savedgifts?gift3=' + giftID[2]
        Materialize.toast("You have bgiftID meme'd")
      }


    })



</script>



