<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">

    <button class="btn waves-effect waves-light purple darken-4" type="submit" name="action">Get Started
    <i class="material-icons right">play_arrow</i>
  </button>
  
    </div>
    
    <div class="carousel-item white black-text" href="#one!">
      <h2>Welcome to Giphter!</h2>
      <p class="white-text">To get started please create a username and get started getting gifts! </p>

      

    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>

  <script>
  $('.carousel.carousel-slider').carousel({full_width: true});
  </script>
        