
 <!--background video  -->
  <!--<video autoplay loop muted id="bgvid" src="public/videos/bgvideo.mp4#t13,138"></video>-->

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" id="title">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Giphtur</h1>
        <div class="row center">
          <h5 class="header col s12 light">What will you give today?</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="get-started" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>

    <div class="row" id="bigLine">
      <div class="col s4">
        <div class="card-panel teal">
          <span class="white-text">Sometimes dank
          </span>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel teal">
          <span class="white-text">Omg memes
          </span>
        </div>
      </div>
      <div class="col s4">
        <div class="card-panel teal">
          <span class="white-text">Wow wee
          </span>
        </div>
      </div>
    </div>
     
    








 


  <!--  Scripts-->
<script>
  $(".button-collapse").sideNav();
</script>
  </body>
</html>