
 <!--background video  -->
  <!--<video autoplay loop muted id="bgvid" src="public/videos/bgvideo.mp4#t13,138"></video>-->

<div class="container">
    <div class="section no-pad-bot">
      <div class="container" id="title">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Giphtur</h1>
        <div class="row center">
          <h5 class="header col s12 light">Give people random gifts.</h5>
        </div>
        <div class="row center">
          <a href="/signup" id="get-started" class="btn-large modal-trigger waves-effect waves-light teal lighten-1">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
  </div>


   <div class="section">
            <h3>Trending Gift</h3>
            <div id="progressing" class="progress">
      <div class="indeterminate"></div>
        </div>
              <div class="card small">
    <!-- Card Content -->
    <img class="giftofday" id="image-1"   alt="" />
    <p id ="name-1"></p>
    <p id ="sale-1"></p>
    
  </div>
      </div>


<script type = "text/javascript">


$(".progress").show();


  var giftID = []


  giftID[0] = sessionStorage.getItem('gift1');


  $.ajax({
        method:'GET',
        url: "/api1",
      }).done(function(result) {

        $( ".progress" ).hide()

         var totalPrice = 0
         for (var i = 1; i < 4; i++) {
           
            $('#image-'+i).attr('src', result[i-1].mediumImage);
            $('#name-'+i).text(result[i-1].name);
            $('#msrp-'+i).text(result[i-1].msrp);
            $('#sale-'+i).text(result[i-1].salePrice);
            totalPrice += result[i-1].msrp
            console.log(result[i-1]);
            giftID[i-1] = result[i-1].itemId
          }
         console.log("dank!")

          })
  
        </script>
    
    

    