

<div class ="container">
  <div class="row" id="row1">
      <form action="">
          
      </form>
    <table class="responsive-table">
        <thead>      
    <h3 id="profile_id">Welcome to Giphtur <%= user.local.name || user.facebook.name %></h3></th>
        </thead>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><%=user.local.name || user.facebook.name%></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%=user.local.email || user.facebook.email%></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><%=user.local.password || user.facebook.token%></td>
          </tr>
        </tbody>
      </table>   
      </div>
      <div class="row">
    <button class="btn-large waves-effect waves-light teal ligthen-1" type="submit" name="action">Edit</button>
          </div>
      </div>
      
      
        
        
