

 <table class=row1 id="row1">
        <thead>
          <tr>
             
              <th data-field="price">Gifts</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%=user.gifts%></td>
            <td>
          </tr>
        </tbody>
      </table>
            
        
    
     <script>     
  var user = <%-JSON.stringify(user)%>




if(user){

    var giftID = []


  giftID[0] = sessionStorage.getItem('gift1');
  giftID[1] = sessionStorage.getItem('gift2');
  giftID[2] = sessionStorage.getItem('gift3');


var gift = {
        gift1: giftID[0],
        gift2: giftID[1],
        gift3: giftID[2],
      }

    $.ajax({
        method:'POST',
        url: "/savedgifts/:id",
        data: JSON.stringify(user),
        contentType:'application'
      }).done(function(data) {
          .populate('user')
         console.log(user)
         console.log(gift)

          })
      }
</script>


