  <div class ="container" id="sign_up">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
        <div class="date-picker" id="dp1">
        <label class="double1" for="dp1">Birthdate</label>
        <input type="date" class="datepicker">
        </div>
     
           <a href="#" id="sign_up2" class="btn-large waves-effect waves-light teal lighten-1">Sign Up</a> 
    
    </form>
  </div>
  </div>


        