
      <div class="col-s12" id="signup_title">
        <h1 class="white-text text-lighten-2">Sign Up</h1>
        <% if(message.length > 0){%>
        <div class="alert alert-danger">
          <%=message%>
          </div>
      <% } %>
      
      </div>

    
  
  
  
  <div class ="container" id="sign_up">
  <div class="row">
    <form action="/signup" method="post" class="col s12">
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input name="email" id="email" type="email" class="form-control" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <input name="password" id="password" type="password" class="form-control" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input name="name" id="first_name" type="text" class="form-control" required>
          <label for="first_name">Name</label>
        </div>
      </div>
     
        </div>
        <div class="row">
          <div class="col s12">
           <button id="sign_up2" class="btn-large waves-effect waves-light teal lighten-1" type="submit" name="action">Submit</button>
           </div>
        </div>

        </div>
        </form>

        <div class="col s6 center-align ">
          <a id="facebookbtn" class="btn-large waves-effect waves-blue waves-ripple" href="/auth/facebook"><span class="fa fa-facebook"></span>    Facebook</a>
        </div>

  </div>

  


        