 
 
 <!-- Modal Trigger -->
 <button data-target="modal1" class="btn modal-trigger waves-effect waves-light purple darken-4" href="#modal1" type="submit" id="sign-up">Get Started
    <i class="material-icons right">play_arrow</i>
  </button>

<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>



  <!-- Modal Structure -->
 <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <script>
       $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  </script>