
  
      


.carousel.carousel-slider{
  height: 550px !important;
  padding-top: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer {
    margin-top: 0px !important;
    padding-top: 0px !important;
    background-color: #ee6e73;
}

footer.footer{
  padding-top: 0px !important;
  
}




.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}






